.navbar-brand{
    color:black;

}
h1{
    margin-left: 30%;
    color: rgb(35, 60, 105);
}
h4{
    text-align: center;
}
h3{
    color: crimson;
}
.bottom{
    background-color: goldenrod;
}
.head{
    color: white;
    margin-left: 0;
}
.H1{
    color: black;
    margin-left: 0;
}
.middle{
    text-align: center;
}